{% extends 'base.html' %}

{% block title %}知了问答-登录{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<div class="row mt-4">
  <div class="col"></div>
  <div class="col">

    <form method='POST'>
      <div class="form-group">
        <label for="exampleInputEmail1">邮箱</label>
        <input type="email" class="form-control" name='email' aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">我们永远不会与其他人分享您的电子邮件</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input type="password" class="form-control" name='password'>
      </div>

      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          {% if message %}
            <div class="text-danger">{{message}}</div>
          {% endif %}
        {% endfor %}
      {% endwith %}
      <button type="submit" class="btn btn-primary btn-block">登录</button>
    </form>
  </div>
  <div class="col"></div>


</div>


{% endblock %}